<body>
    <!----- HEADER START--->
    <!----- SLIDES START --->
    <header id="header">
        <nav id="nav">
            <ul>
                <li><a href="#Start" class="active" title="Next Section"><i class="fa fa-home fa-3x" aria-hidden="true"></i><br />START</a></li>
                <li><a href="#Technology" title="Next Section"><i class="fa fa-cogs fa-3x" aria-hidden="true"></i><br />TECHNOLOGIA</a></li>
                <li><a href="#Projects" title="Next Section"><i class="fa fa-lightbulb-o fa-3x" aria-hidden="true"></i><br />PROJEKTY</a></li>
                <li><a href="#AfterHours" title="Next Section"><i class="fa fa-paper-plane fa-3x" aria-hidden="true"></i><br />PO GODZINACH</a></li>
                <li><a href="#Contact" title="Next Section"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i><br />KONTAKT</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="feature" id="feature"></div>
                <div class="noise">
                    <div id="Start">
                        <img class="leftHand" src="/Content/img/lefthand.png" alt="Left Hand" />
                        <img class="rightHand" src="/Content/img/righthand.png" alt="Right Hand" />
                        <div>
                            <h2 class="TechHead" style="margin-top: 100px">Kacper werema</h2>
                            <p class="TechLower">Krótko o mnie</p>
                        </div>
                        <div class="opis">
                            <p>Jestem pasjonatem aplikacji Webowych.</p>
                            <p>
                                Zajmuję się budowaniem stron internetowych opartych o <br />najnowsze trendy technologiczne.
                                Obecnie szukam płatnego stażu lub pierwszej pracy jako junior .net developer. Możliwa relokacja jest przedmiotem negocjacji.
                            </p>
                            <p>
                                Więcej informacji w <a href="/Content/CVENG.pdf" target="_blank" class="ButtonCV">CV</a>
                            </p>

                        </div>
                    </div>
                    <div id="Technology" style="top: -50px">
                        <h2 class="TechHead">TECHNOLOGIE</h2>
                        <p class="TechLower">CO POTRAFIĘ</p>
                        <div class="img">
                            <img src="/Content/img/html5.png" alt="Logo HTML5" width="120" height="120" />
                        </div>
                        <div class="img">
                            <img src="/Content/img/css3.png" alt="Logo CSS3" width="120" height="120" />
                        </div>
                        <div class="img">
                            <a href="https://github.com/snowpl/"><img src="/Content/img/github.png" alt="Logo Git" width="120" height="120" /></a>
                        </div>
                        <div class="img">
                            <img src="/Content/img/rsz_c-img.png" alt="Logo C#" width="120" height="120" />
                        </div>
                        <div class="img">
                            <img src="/Content/img/rsz_netlogo.png" alt="Logo ASP.NET" width="120" height="120">
                        </div>
                    </div>
                    <div id="Projects">
                        <h2 class="TechHead">PROJEKTY</h2>
                        <p class="TechLower">Jak to się robi</p>
                        <div id="mainwrapper">
                            <div id="box-1" class="box">
                                <div class="rotate">
                                    <img id="image-1" src="/Content/img/sports-store.jpg" />
                                    <span class="caption rotate-caption">
                                        <h3 class="rotateh3">Sport Store</h3>
                                        <p class="rotatep">Sports Store jest to pierwsza aplikacja zrobiona przeze mnie.</p>
                                        <a href="https://github.com/snowpl/SportsStore" target="_blank" class="ButtonCV" title="Zobacz apkę!">VIEW PROJECT</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="mainwrapper2">
                            <div id="box-2" class="box">
                                <div class="rotate">
                                    <img src="/Content/img/google_cardboard_kit.jpg" width="370" height="277" />
                                    <span class="caption rotate-caption">
                                        <h3 class="rotateh3">Hello World VR</h3>
                                        <p class="rotatep">Hello World VR jest to nasz projekt robiony podczas Hackatlonu PiastCode.</p>
                                        <a href="https://github.com/Code4FunTeam/PiastCode" target="_blank" class="ButtonCV" title="Zobacz apkę!">VIEW PROJECT</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="AfterHours">
                        <h2 class="TechHead">PO GODZINACH</h2>
                        <p class="TechLower">Hobby</p>
                        <div class="responsive">
                            <div class="gallery">
                                <img src="/Content/img/decha.JPG" alt="Snowboard" width="300" height="200">
                            </div>
                        </div>
                        <div class="responsive">
                            <div class="gallery">
                                <img src="/Content/img/fota2.JPG" alt="Nagrywanie" width="300" height="200">
                            </div>
                        </div>
                        <div class="responsive">
                            <div class="gallery">
                                <img src="/Content/img/decha3.JPG" alt="Snowboard" width="300" height="200">
                            </div>
                        </div>
                        <div class="responsive">
                            <div class="gallery">
                                <img src="/Content/img/fota3.JPG" alt="Nagrywanie" width="300" height="200">
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <!-- The Modal -->
                        <div id="myModal" class="modal">
                            <span class="close">×</span>
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                        </div>

                    </div>
                    <div id="Contact">
                        <h2 class="TechHead">KONTAKT</h2>
                        <p class="TechLower">Odezwij się</p>
                        <p class="contactDescription">
                            Jeśli masz do mnie pytanie lub chciałbyś nawiązać współpracę skontaktuj się
                            korzystając z podanych niżej danych <s>lub formularza</s>.
                        </p>
                        <p class="contactPhone">+48 791 771 587</p>
                        <p class="contactEmail">kacper.werema@gmail.com</p>
                    </div>
                    <div id="Bottom">
                        <img class="bottomimg" src="~/Content/img/nogi.gif" alt="nogi" width="1725" height="970" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>